<body class="d-flex flex-column min-vh-100">
    <%- include('partials/loginHeader') -%>

        <!-- Create -->
        <section class="p-5 p-lg-5 pt-lg-5 text-center text-sm-start">
            <h2>Add a Membership</h2>

            <div class="container px-5">
                <h4 class="source-sans text-center">Is this membership with a partner organization?</h4>
                <div class="container-fluid justify-content-end d-flex">
                    <button class="btn btn-primary btn-lg shadow voltaire" type="button">Yes</button>
                    <button class="btn btn-primary btn-lg shadow voltaire" type="button">No</button>
                </div>
                <small>Our current partners include Cary Children's Museum, City of Oaks Historical Center, Museum of
                    Climate Sciences, and NC Farm Park.</small>
            </div>

            <div id="addNonPartnerMembership" class="container">
                <form action="/todos/createTodo" method='POST'>
                    <input type="text" placeholder="Enter Todo Item" name='todoItem'>
                    <input type="submit">
                </form>
            </div>

            <div id="addPartnerMembership" class="container">
                <form action="/todos/createTodo" method='POST'>
                    <input type="text" placeholder="Enter Todo Item" name='todoItem'>
                    <input type="submit">
                </form>
            </div>

        </section>

        <%- include('partials/footer') -%>