/* Basic Setup */
body::before {
    display: block;
    content: '';
    height: 100px;
}

body,
.source-sans {
    font-family: 'Source Sans 3', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
.voltaire {
    font-family: 'Voltaire', sans-serif;
}

/* Index CSS */


/* Media Styles */
@media(min-width: 768px) {
    .news-input {
        width: 50%;
    }
}